
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Host" %><br>
    <%= current_user.first_name %> <%= current_user.last_name %>
  </div>
  <div class="field">
    <%= f.label :sport %><br>
    <%= f.text_field :sport, :size => 70 %>
  </div>
  
  <div class="field">
    <%= f.label :address, "Address (ex. \"Underhill Field, Berkeley, CA\")" %><br>
    <%= f.text_field :address, :size => 70   %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label "Start time" %><br>
    <%= f.time_select :stattime,  {ampm: true}  %>
  </div>

  <div class="field">
    <%= f.label "End time" %><br>
    <%= f.time_select :endtime,  {ampm: true}  %>
  </div>
  <div class="field">
    <%= f.label :description, "Description (ex. \"Everyone bring cleats!\")" %><br>
    <%= f.text_area :description, :size => "70x10" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
