
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sport %><br>
    <%= f.text_field :sport, :value => 'ex. "Soccer"' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :value => 'ex. "Underhill Field, Berkeley, CA"'  %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label "Start time" %><br>
    <%= f.time_select :stattime %>
  </div>
  <div class="field">
    <%= f.label "End time" %><br>
    <%= f.time_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :value => 'ex. "Everyone bring cleats and shin guards. Someone bring a ball."', :size => "100x10" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
