<script>
$(document).ready(function(){
  $("#addcomment").hide();
  $("#addcommentbtn").click(function(){
    $("#addcomment").toggle();
    $(this).hide();
  });
  });
</script>

<div id="newform">

<h1 class="roboto">
  <%= @game.sport %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @game.address %>
</p>

<p>
  <strong>Host:</strong>
  <%= @game.user.first_name %> <%= @game.user.last_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @game.stattime.hour %>:<%= @game.stattime.min %>
</p>

<p>
  <strong>End time:</strong>
  <%= @game.endtime.hour %>:<%= @game.endtime.min %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p><br>
  <strong>Attendees:</strong><br>

<% @game.players.each do |player| %>
    <%= player.user.first_name %> <%= player.user.last_name %>  
    <% if player.user == current_user %>
      <script language='javascript'>
          $(document).ready(function(){
            $("#playerform").hide();
          });

      </script>
        <%= link_to "| I'm not attending", [player.game, player],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
<% end %>
</p>

<div id="playerform">
  <%= form_for([@game, @game.players.build]) do |f| %>
    <p>
      <%= f.submit "RSVP" %>
    </p>
  <% end %>
</div>
<br>


<%= render "comments_form" %>



Return to home by clicking "Sportify".
</div>
