<script>
$(document).ready(function(){
  $("#addcomment").hide();
  $("#addcommentbtn").click(function(){
    $("#addcomment").toggle();
    $(this).hide();
  });
  });
</script>

<div id="newform">

<h1 class="roboto">
  <%= @game.sport %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @game.address %>
</p>

<p>
  <strong>Host:</strong>
  <%= @game.user.first_name %> <%= @game.user.last_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @game.stattime.hour %>:<%= @game.stattime.min %>
</p>

<p>
  <strong>End time:</strong>
  <%= @game.endtime.hour %>:<%= @game.endtime.min %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @game.attendees %>
  <%= pluralize(@game.votes.count, "attendee") %>
  <div id="upvote"><%= button_to '+1', upvote_game_path(@game), method: :post %></div>
</p>

    

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= render "comments_form" %>



Return to home by clicking "Sportify".
</div>
